<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="container">
    <% if (items.length > 0) { %>
        <table class="table table-info table-hover">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Instock</th>
                <th scope="col">---</th>
              </tr>
            </thead>
            <tbody>
              <% items.forEach((item, index) => { %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= item.title %></td>
                    <td><%= item.category.title %></td>
                    <td>$ <%= item.price %></td>
                    <td><%= item.number_in_stock %></td>
                    <td>
                        <div>
                            <a href="/product/<%=item._id%>/updatePage" class="btn btn-sm btn-info">Update</a>
                            <a href="/product/<%= item._id%>/delete" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </td>
                  </tr>
              <% }) %>
            </tbody>
        </table>
    <% } else {%>
        <h3 class="text-center">There is no items here</h3>
    <% } %>
     
</div>

<%- include('./partials/footer') %>
